.supervisor-header {
  height: 160px;
}

.supervisor-header img {
  height: 60%;
}

.supervisor-header span.mdl-layout-title {
  font-size: 48px;
  padding-left: 50px;
}

/* align the icons and text in the navigation buttons */
.mdl-tabs__tab i, span {
  vertical-align: middle;
}
/* add a gap between the icon and the text */
.mdl-tabs__tab i {
  padding-right: 5px;
}

/* maximum width for the card area */
.mdl-tabs__panel .mdl-grid {
  max-width: 2000px;
}

/* table support */
.mdl-card__table, table{
  width:100%;
  margin:0em;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
